/*
* Variables
* Scrollbar, main colors
*/
// Scrollbar
$scrollbar-track-color: #e2e8f0;
$scrollbar-thumb-color: #cbd5e1;
$scrollbar-thumb-hover-color: #70abf3;

// Main Colors 
$color-black: #111111; // gray-1
$color-gray: #2A2A2A; // gray-4
$color-blue: #2870BD; // blue-8
$color-blue-dark: #004074; // blue-5
$color-white: #EEEEEE; // gray-9
$color-purple: #8E4EC6; // purple-9
$color-iris: #6E6ADE; // Iris-10

// Header
$header-height: 4rem;