/*
* Variables
* Scrollbar, main colors
*/
// Scrollbar
$scrollbar-track-color: #e2e8f0;
$scrollbar-thumb-color: #cbd5e1;
$scrollbar-thumb-hover-color: #70abf3;

// Main Colors 
$color-black: #111111;
$color-gray: #2A2A2A;
$color-blue: #0090FF;
$color-blue-dark: #004074;
$color-white: #EEEEEE;