@import "@/styles/variables.scss";

.Header {
  background-image: url('/images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 40rem;

  padding: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, $alpha: 0.5);
  }
}